html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: initial;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  color: #444444;
}

.page-title {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 0.3em;
}

.grey {
  background: whitesmoke;
  padding: 0.2em 0;
}

.container-txt {
  margin: 0 4em;
}

.bold {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 2em;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em 2em;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.col-pri {
  color: #e02828;
}
.col-pri:hover, .col-pri:focus, .col-pri:active {
  color: #e02828;
}

.col-white {
  color: white;
}

.feather {
  margin-right: 1em;
  margin-top: 0.2em;
  padding-top: 0.2em;
}

.navbar {
  background-color: black;
}
.navbar .active {
  font-weight: bold;
}

.nav-item {
  color: #e02828;
}
.nav-item:hover {
  color: #ed8181;
}

.home {
  margin: 0;
  padding: 0;
}

.home2 {
  position: static;
  margin-top: 21%;
  padding: 5%;
  background-color: #8e1414;
}
.home2 h1, .home2 h2, .home2 h3, .home2 h4, .home2 h5, .home2 h6, .home2 p {
  color: white;
}

.flex-item-home {
  flex: 0 0 30%;
}

.hero {
  width: 100vw;
  height: 110vh;
  margin: 66px 0 0 0;
  filter: brightness(22%);
  position: relative;
  z-index: -1;
}

.call-to-action {
  display: flex;
  margin-top: -92vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-to-action a {
  transform: scale(1.3);
}
.call-to-action h1 {
  color: whitesmoke;
  margin: 0 0 1.3em 0;
}
.call-to-action .home-title {
  font-size: 8em;
  margin: 0 0 0.1em 0;
}

.home-sec {
  margin: 2em;
}

.home-sec-left h1, .home-sec-left h4, .home-sec-left h5, .home-sec-left h6, .home-sec-left p {
  max-width: 60%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0;
}
.list li {
  font-size: 1.1em;
}

.btn-primary {
  color: white;
  background: #8e1414;
  border: none;
  outline: 0;
}
.btn-primary:hover, .btn-primary:active {
  background: #ba1b1b !important;
  border: 0 !important;
  outline: 0 !important;
}
.btn-primary:focus {
  background: #e02828 !important;
  box-shadow: none !important;
}

.btn-hero {
  width: 25em;
  height: 40px;
}

.btn-submit {
  width: 50%;
  margin-top: 2em;
}

.btn-home-card {
  width: 30%;
}

.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.35);
  background: whitesmoke;
  padding: 1em;
  margin: 0 1em 1em 1em;
}

.contact-card {
  background: whitesmoke;
  padding: 1em;
}

.home-card {
  border: 1px solid #ba1b1b;
}

.card-title {
  color: #8e1414;
}

hr {
  border-color: #1b131f;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.flex-container-contact {
  display: flex;
  justify-content: space-around;
  margin: 5em 14em;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 2em;
}

.flex-item {
  flex: 1 0 auto;
}

.flex-item-2 {
  flex: 0 0 25%;
}

.left-attach {
  margin-left: 0;
}

.corp {
  width: 25%;
  padding: 1em;
  max-height: 70%;
}

.invis {
  visibility: hidden;
}

#map {
  max-width: 100%;
}

.contact-icon {
  transform: scale(1.3);
  margin: 0.8em 0.8em 0.8em 0;
}

form {
  padding: 2em !important;
  margin: 0;
}
form .space-top {
  margin-top: 2em;
}
form h4 {
  color: #ba1b1b;
  margin: 0.4em 0;
}
form h1 {
  margin-top: 2em !important;
}
form .form-heading {
  font-size: 2em;
  background: white;
  color: #ba1b1b;
  padding: 0.2em;
}
form input.form-control-sm {
  width: 55% !important;
}
form .btn-form {
  margin-top: 2em;
}

.contact-form {
  width: 50%;
}

.form-mini {
  margin-bottom: 2em;
}

.form-asse {
  width: 60%;
}

.res-mini-sec,
.con-mini {
  margin-bottom: 3em;
}

.res-sec {
  margin-bottom: 7.5em;
}
.res-sec h1 {
  margin-bottom: 0.7em;
}
.res-sec h3 {
  margin-bottom: 0.5em;
}

footer {
  padding: 2em 2em 0 2em;
}
footer .maintain {
  font-size: 0.8em;
}
footer .copyright {
  font-size: 0.7em;
}

.footer-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-flex-container .footer-adr-sec {
  margin-top: 1.5em;
}
.footer-flex-container .footer-adr-sec .line {
  margin-top: 0.5em;
}
.footer-flex-container .footer-soc-sec {
  margin-top: 2.5em;
}
.footer-flex-container .footer-soc-sec .feather {
  stroke: #8e1414;
  padding-top: 0;
}
.footer-flex-container .footer-soc-sec .feather:hover {
  fill: #8e1414;
}
.footer-flex-container .footer-soc-sec .social {
  transform: scale(1.2);
}
.footer-flex-container .footer-item {
  height: 20em;
}
.footer-flex-container .footer-item span {
  max-width: 20%;
}
.footer-flex-container .footer-img {
  max-height: 40%;
  margin: 0.3em;
}
.footer-flex-container .flex-container-wrap {
  flex-flow: row wrap;
}

.footer-contact p, .footer-contact i {
  margin: 0 0.5em 0 0;
}

.footer-link {
  margin: 0 0.5em;
}
