//variables
$col-pri: #e02828;
$col-pri-dark: darken($col-pri, 10%);
$col-pri-darker: darken($col-pri, 20%);
$col-text: #474747;
$col-foot-bg:  #2d2d2d;


html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: initial;
}


.main {
  margin-top: 4em;
  padding: 4em;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
  color: $col-text;
}

.center {
  display: flex;
  justify-content: center;
}

.form-row-around {
  display: flex;
  justify-content: space-between;
}

.col-pri {
  color: $col-pri;
}






.home {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $col-foot-bg !important;


  .active {
    font-weight: bold;
  }
}

.nav-item {
  color: $col-pri;

  &:hover {
    color: lighten( $col-pri, 20% );
  }
}


.hero {
  width: 100vw;
  height: 110vh;
  margin: 66px 0 0 0; 
  filter: brightness(17%);
  position: relative;
  z-index: -1;
}

.call-to-action {
  display: flex;
  margin-top: -65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: whitesmoke;
    margin: 0 0 1.3em 0;
  }
  .home-title{
    font-size: 5em;
    margin: 0 0 0.1em 0;
  }
}




//buttons
.btn-primary {
  color: white;
  background: $col-pri-darker;
  border: none;
  outline: 0;

  &:hover, &:active {
    background: $col-pri-dark !important;
    border: 0 !important;
    outline: 0 !important;    
  }

  &:focus {
    background: $col-pri !important;
    box-shadow: none !important;
  }
}

.btn-hero {
  width: 25em;
  height: 40px;
}

.btn-submit {
  width: 50%;
  margin-top: 2em;
}

.btn-home-card {
  width: 30%;
  // color: $col-pri-dark;
  // background: whitesmoke;
  // border: none;
  // outline: 0;

  // &:hover, &:active {
  //   color: $col-pri-dark !important;
  //   background: white !important;
  //   border: 0 !important;
  //   outline: 0 !important;    
  // }

  // &:focus {
  //   color: $col-pri-dark !important;
  //   background: white !important;
  //   box-shadow: none !important;
  // }
}




.home2 {
  position: static;
  margin-top: 23%;
}

.flex-container-home {
  display: flex;
  justify-content: space-around;
}

.flex-item-home {
  flex: 0 0 30%;
}



//cards
.card {
  box-shadow: 0 14px 28px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.35);
  padding: 1em;
  margin: 0 1em 1em 1em;
  background: whitesmoke;
}

.home-card {
  border: 1px solid $col-pri-dark;
  //background: $col-pri-darker;
}

.card-title {
  color: $col-pri-darker;
}

hr { 
  border-color: $col-foot-bg;
  width: 100%;
  //margin-top: -0.5em;
 }




// contact page

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: 100%;
  margin: 5em 0 5em 0;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 2em;  
}

.flex-item {
  flex: 1 auto;
}

.flex-item-2 {
  flex: 0 0 45%;
}

.left-attach {
  margin-right: 0;
}

.invis {
  visibility: hidden;
}

#map {
  margin-left: 0;
  flex: 1 0 65%;
}

.contact-icon {
  transform: scale(1.3);
  margin: 0.8em 0.8em 0.8em 0;
}

form {
  width: 45%;
}

.form-inline .form-control {
  float: right;
}




//footer
footer {
  position: static;
  background: $col-foot-bg;
  box-shadow: 0 50vh 0 50vh $col-foot-bg;

  h1,h2,h3,h4,h5,h6,p {
    color: white;
  }

  p {
    transform: scale(0.7);
  }
}

.foot-grid-container {
}